.container {
  padding: 5px;
}
.info {
  color: red;
}
.codeblock {
  border: 3px solid blue;
  color: white;
  padding: 5px;
  .cb {
    background: rgba($color: #000000, $alpha: 0.8);
    color: white;
    padding: 5px;

    span {
      color: yellowgreen;
    }
  }
}
.actionblock {
  .action {
    padding: 10px 15px;
    background: #eee;
    margin: 15px 0;

    p {
      margin-top: 0;
    }

    button {
      background: lightblue;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
