/* You can add global styles to this file, and also import other style files */
.error {
  background-color: red;
  color: white;

  button {
    background-color: orangered;
    color: white;
  }
}

.success {
  background-color: green;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
